<!-- Footer -->
<div class="container-fluid" style="background: #FFCE00;">
  <div class="container pt-3 pb-3">
   <div class="row">
     <div class="col-lg-4" style="color: #FFF;">
       <h2>Sign up for special offers</h2>
       <h5>Email Address</h5>
       <input type="text" style="width: 350px; height: 58px; border-radius: 10px; outline: none; border: none;"><br>
       <input class="mt-3" type="button" value="Submit" style="background: #FFCE00;outline: #FFF;border: 1px solid #FFF;width: 156px;color: #FFF;padding: 14px;">
     </div>
     <div class="col-lg-4" style="padding: 0px 66px;">
       <h2 style="color: #FFF;">Connect With Us</h2>
       <ul style="list-style: none; font-size: 21px; color: #FFF;">
         <a href="#" style="text-decoration: none; color: #FFF;"><li>About Us</li></a>
         <a href="#" style="text-decoration: none; color: #FFF;"><li>Facebook</li></a>
         <a href="#" style="text-decoration: none; color: #FFF;"><li>Twitter</li></a>
         <a href="#" style="text-decoration: none; color: #FFF;"><li>Instagram</li></a>
       </ul>
 
       <div class="sideNav_apple"><img src="../../assets/Images/Apple Logo.png" alt=""><span style="font-size: 20px;">App
         Store</span></div>
       <div class="sideNav_android mt-3"><img src="../../assets/Images/Android OS.png" alt=""><span
           style="font-size: 20px;">Playstore</span></div>
       </div>
     <div class="col-lg-4" style="color: #FFF;">
       <h2>Opportunities at Cheers</h2>
       <div style="border: 1px solid #FFF;padding: 0px 56px;align-items: center; font-size: 23px;">
         <a href="#" style="display: flex;justify-content: space-between;color: white; text-decoration: none;">
           <p  style="padding-top: 9px;">For Retailers</p>
           <span> > </span>
         </a>
       </div>
       <div class="mt-3"  style="border: 1px solid #FFF;padding: 0px 56px;align-items: center; font-size: 23px;">
         <a href="#" style="display: flex;justify-content: space-between;color: white; text-decoration: none;">
           <p>For Drivers</p>
           <span> > </span></a>
       </div>
     </div>
   </div>
 
   <div class="mt-5" style="text-align: center; color: #FFF;"><p>© 2022 Cheers App LLC • All rights reserved.</p></div>
  </div>
 </div>