<header>
  <nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <a class="navbar-brand logo" routerLink="/"><img src="../../assets/Images/Logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/main">Celebrate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link login_button" routerLink="/login">Login</a>
          </li>
          <li class="nav-item ms-2">
            <a class="nav-link" style="cursor: pointer;" onclick="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="sideBtn">
      <a class="nav-link SignUpBtn" routerLink="/signup">SignUp</a>
      <a class="nav-link loginBtn" routerLink="/login">Login</a>
    </div>
    <a routerLink="/main" style=" font-size: 38px; font-weight: bold;">Plan a Celebration</a>
    <a routerLink="/about" style=" font-size: 38px; font-weight: bold;">About Us</a>
    <a routerLink="/faq" style=" font-size: 38px; font-weight: bold;">FAQs</a>
    <a routerLink="/partners" style=" font-size: 38px; font-weight: bold;">Partners</a>

    <a href="#" style=" font-size: 38px; font-weight: bold; margin-top: 90px;">Get the App</a>

    <div class="sideNav_BTM">
      <div class="sideNav_bottom"><img src="../../assets/Images/Logo.png" alt=""></div>
      <div class="sideNav_apple"><img src="../../assets/Images/Apple Logo.png" alt=""><span style="font-size: 20px;">App
          Store</span></div>
      <div class="sideNav_android"><img src="../../assets/Images/Android OS.png" alt=""><span
          style="font-size: 20px;">Playstore</span></div>

    </div>
  </div>
</header>

<!-- line with text--- -->
<div>
<h1 style=" text-align: center; font-size: 76px; margin-top: 53px; margin-left: 26; font-weight: 700; ">About Us</h1>
<div style="display: flex">
  <div class="div_line"></div>
  <h3 style="margin-top: 48px; font-size: 32px; font-weight: 700">
    Why Cheers?
  </h3>
  <div class="div_line2"></div>
</div>
<h3
  style="
    text-align: center;
    font-size: 34px;
    color: #ffcc00;
    font-weight: 700;
  "
>
  The party must go on!
</h3>
</div>

<!-- image with text-- -->

<div class="container">
<div class="row">
  <div class="col-lg-6" style="margin-top: 104px">
    <h3>
      Explore a range of restaurants to compliment your chosen drink, either
      online or on the app. Find a select choice of local menu items and enjoy
      your celebration!
    </h3>
  </div>
  <div class="col-lg-6">
    <img class="img-fluid" src="../../assets/Images/about-1.png" alt="" />
  </div>
</div>
</div>

<div class="container">
<div class="row">
  <div class="col-lg-6">
    <img class="img-fluid" src="../../assets/Images/about-2.png" alt="" />
  </div>
  <div class="col-lg-6" style="margin-top: 104px">
    <h3>
      Explore a range of restaurants to compliment your chosen drink, either
      online or on the app. Find a select choice of local menu items and enjoy
      your celebration!
    </h3>
  </div>
  <h3 style="text-align: center">
    We are more than a way to extend a good time, Cheers is a purpose-built
    service brand built on a veteran’s perseverance and social consciousness.
  </h3>
</div>
</div>
<div>
<div style="display: flex">
  <div class="div_line"></div>
  <h3 style="margin-top: 48px; font-size: 32px; font-weight: 700">
    The Cheers Story
  </h3>
  <div
    style="
      width: 593px;
      height: 0px;
      left: 1043px;
      top: 3096px;
      border: 1px solid #000000;
      margin-top: 69px;
    "
  ></div>
</div>
<h3
  style="
    text-align: center;
    font-size: 34px;
    color: #ffcc00;
    font-weight: 700;
  "
>
  From founder, Cardia Summers
</h3>
<div class="container">
<h3 style="text-align: center">
  As a young child growing up in Hopkinsville, Kentucky the notion of
  attending an Ivy League school was preposterous. Never in a million years
  would I have thought of I would attend a college, let alone one of Columbia
  University’s caliber.
</h3>
<h3 style="text-align: center;margin-top: 40px;">
  As the product of a single-parent household, my mother struggled with drug
  addiction. My father was my caregiver. A career soldier, his service made me
  the perpetual “new guy” at school every two to three years to include three
  different high schools.
</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6" style="margin-top: 104px">
      <h3>
          Luckily, I always felt as if I could forge my own path and overcome obstacles to achieve my own vision of success. I found my calling in the Army. For a decade, I served as a paralegal assistant with some of the military’s finest attorneys. I even became a Ranger to serve with the best special operations forces in the world.
      </h3>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid" style="width: 300px;height: 300px;margin-top: 110px;" src="../../assets/Images/about-3.png" alt="" />
      <img class="img-fluid" style="width: 300px;height: 300px;margin-top: 110px;" src="../../assets/Images/about-4.png" alt="" />
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6" style="margin-top: 104px">
      <h3>
          My career was on the rise after winning both Soldier and Noncommissioned Officer of the Year competitions as a junior associate and a mid-grade manager. Then, I was selected as the Army’s Paralegal of the Year. Needless to say, I was following in my father’s footsteps on a path to achieve a high enlisted rank in the military.
      </h3>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid" style="width:602px;height:253px;margin-top: 110px;" src="../../assets/Images/about-5.png" alt="" />
    </div>
  </div>
</div>
<div class="container">
  <h3 style="color: #ffcc00; font-weight: 700;">One bad choice ruined that dream. A drinking and driving offense became the only blemish on my 10-year career. For that bad decision, my career ended.</h3>
  <h3>If I learned anything as a Ranger, it was to take our lessons learned on the battlefield and apply them for the betterment of our team and our community. My lumps became my motivation to continue to excel at Columbia and with Cheers.</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6" style="margin-top: 104px">
      <h3>
          Cheers is a product of my redemption. Instead of bemoaning my situation, I created a service to reduce drinking and driving.
      </h3>
      <h3>Whether a wedding, birthday, or a house party, Cheers cater to your desire for the party to go in a responsible manner. There is no need to leave the safety of your home to purchase more adult beverages. Allow Cheers to deliver your needs in a responsible manner.</h3>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid" style="width: 300px;height: 338px;margin-top:110px;"  src="../../assets/Images/about-6.png" alt="" />
      <img class="img-fluid" style="width: 300px;height:338px;margin-top:110px;" src="../../assets/Images/about-7.png" alt="" />
    </div>
    <h3 style="margin-top:34px;">I struggled for years to tell my story. Now, I stand a little taller by working to solve a known problem with social drinking. Here’s to the memories we will help create for others by first learning for ourselves. Cheers!</h3>
  </div>
</div>

<h4 style="color: #ffcc00; font-weight: 700; margin-left: 90px;margin-top:20px;">
  Read More +
</h4>
</div>
<div class="container" style="border:1px solid black;"></div>
<div style="display: flex">
  <div class="div_line" style="width:678px ;"></div>
  <h3 style="margin-top: 48px; font-size: 32px; font-weight: 700">
      Our Team
  </h3>
  <div
    style="
      width: 675px;
      height: 0px;
      left: 1043px;
      top: 3096px;
      border: 1px solid #000000;
      margin-top: 69px;
    "
  ></div>
</div>
<!-- slider -->
<!-- Slideshow container -->
<div id="carouselExample" class="carousel slide" style="width: 250px;height:250px;margin-left: 617px;
margin-top: 29px;">
  <div class="carousel-inner" style="border-radius:100%;width:250px;height:250px;">
    <div class="carousel-item active">
      <img src="../../assets/Images/about-8.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/Images/about-2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/Images/about-3.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon text-bg-dark p-3 " aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container-fluid" style="text-align:center;font-weight:900;">
  <h3 style="font-size:43px;">Cardia Summers</h3> 
  <p>Founder and CEO</p>
</div>


<!-- Footer -->
<app-footer></app-footer>