<div class="container" style="padding: 33vh 0vh;">
  <div class="row " style="text-align: center; ">
    <h3 style="font-size: 40px;font-weight: 700;">Before we jazz up your celebration...</h3>

    <p style="font-size: 30px;">Please confirm your age.</p>

    <div class="mt-3">
      <button style="background: #FFCE00;font-size: 25px;border-radius: 5px; color: #FFF; margin-right: 10px; border: none;">I am over 16</button>
      <button style="background: #000000;font-size: 25px;border-radius: 5px; color: #FFF;margin-left: 10px; border: none;">I am under 16</button>
    </div>
  </div>
</div>