<div class="wrap-error" id="page404" style="background-color: #FFF6D4; height: 100vh; font-weight: 700;">
  <div class="d-flex align-items-center h-100">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2 text-center">
          <h1 class=""><span>4</span><span>0</span><span>4</span></h1>
          <h5 class="">Oops! Page not found</h5>
          <p class="mb-4">we are sorry, but the page you requested was not found</p>
          <button class="btn btn-dark" routerLink="/main" title="main url">
            Go home
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

